<div class="container">
  <%= render "shared/form_search_bar" %>

  <div class="main-container">
    <div class= "list-index col-7">
      <%= turbo_frame_tag "instruments" do %>
      <%= render @instruments %>
      <% end %>
    </div>
      <div style="height: 100vh;" class="map_index col-5"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

  </div>

  <%= render "pager", pagy: @pagy %>
</div>
