<div class="container">
  <h1>Every instruments</h1>
  <div class = "share">
    <%= link_to "Share instruments",new_instrument_path %>
  </div>
  <div class= "list-index">
    <% @instruments.each do |instrument| %>
      <div class="row">
        <div class= "cards-index">
          <div class="col-sm-4 col-lg-1">
            <% if instrument.photos.attached? %>
              <%= cl_image_tag instrument.photos[0].key %>
            <% else %>
              <img src="https://image.shutterstock.com/image-vector/no-ban-stop-signs-music-260nw-271087253.jpg">
            <% end %>
          </div>
          <div class="col-sm-8 col-lg-11">
            <h2><%= link_to instrument.name, instrument_path(instrument) %></h2>
            <p><%= link_to instrument.brand, instrument_path(instrument) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
