<div class="container">
  <div class="show-container d-flex justify-content-around align-items-center mt-3">
    <div class="caroussel">
      <%= cl_image_tag @instrument.photos[0].key%>
    </div>
    <div class="show-container-infos">
      <p><%= @instrument.name %></p>
      <p>Brand: <%= @instrument.brand %></p>
      <p>Category: <%= @instrument.category %></p>
      <p>Used since: <%= @instrument.age %> years</p>
      <p>Price: <%= @instrument.price %>$/day</p>
      <p>Owner: <%= cl_image_tag @instrument.user.photo.key %><%= @instrument.user.pseudo%></p>
    </div>
  </div>
  <div class="show-container-map-reservation d-flex justify-content-between mt-5">
    <div class="show-map">
      map
    </div>
    <div class="show-reservation-card">
      <% if user_signed_in? && current_user.email === @instrument.user.email %>
        <div class="show-edit-delete">
          <%= link_to "Edit", edit_instrument_path %>
          <button>delete</button>
        </div>
      <% else %>
        <div class="show-reservation d-flex flex-column">
          calendar
          <button>reserve</button>
        </div>
      <% end %>
    </div>
  </div>
</div>